<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <!-- <param name="ConversionPattern"
                value="%d %-5p [%t] [%c] - %m%n"/> -->
            <param name="ConversionPattern"
                value="%d [%-5p] %m - [%c]%n"/>
        </layout>
    </appender>


    <appender name="rollingFile" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/data/applogs/eagleye-admin/eagleye-admin.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH\:mm\:ss} %-5p [%t] [%c] - %m%n" />
        </layout>
    </appender>



   <!--  <logger name="com.yougou.eagleye.client">
        <level value="debug"/>
    </logger> -->

    

    <root>
        <level value="INFO"/>
        <appender-ref ref="console"/>
        <appender-ref ref="rollingFile"/>
    </root>

</log4j:configuration>